@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
:root {
  --pink: #e66767;
  --black: #2c3a47;
  --blue: #74b9ff;
  --pink2: #f2f2f2;
  --putih: #f4f4f4;
}
.dark {
  --pink: #000000;
  --blue: #ffffff;
  --black: #000000;
  --putih: #cec9c9ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  overflow: hidden;
}

body {
  height: 100vh;
  background: url(bg/cobaa.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile-card-md {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background: var(--black);
  padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, var(--blue), var(--pink));
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #f2f2f2;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
  z-index: 2;
  font-weight: bold;
}
.bu{
  position: relative;
  left: 160px;
  top: -30px;
}
.des{
  font-size: 14px;
  color: #dbdbdb;
  font-family: "Poppins", sans-serif;
}
.desc {
  font-size: 20px;
  color: #e66767;
  z-index: 2;
  font-family: "Poppins", sans-serif;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: 0.3s linear;
  z-index: 2;
}

.sm a:hover {
  color: #e66767;
  z-index: 2;
}
.themeSwitch {
  position: relative;
  height: 40px;
  width: 40px;
  background: var(--pink);
  display: inline-flex;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.themeSwitch::before {
  content: "\f186";
  font-family: fontAwesome;
  color: var(--pink2);
  font-size: 20px;
  z-index: 2;
}
.themeSwitch.active::before {
  content: "\f185";
  font-family: fontAwesome;
  color: var(--black);
  background: var(--pink2);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.card-footer {
  background: var(--putih);
  padding: 60px 10px;
  font-family: "Poppins", sans-serif;
}
.project{
  background: #e66767;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}
.project a{
  color: #fff;
}
.numbers {
  display: flex;
  align-items: center;
  z-index: 2;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--pink);
  z-index: 2;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}
.profile-card-md .name {
  position: relative;
  top: 10%;
  width: 15em;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateX(-10%);
  transform: translateX(-1%);
}
.name {
  animation: ketikan 4s steps(15) 1s 1 normal both, kedip 500ms steps(15) infinite normal;
}
@keyframes ketikan {
  from {
    width: 0em;
  }
  to {
    width: 11em;
  }
}
@keyframes kedip {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: white;
  }
}
/* #cursor {
  width: 50px;
  height: 50px;
  background: var(--blue);
  position: absolute;
  border-radius: 50%;
  display: block;
  cursor: grab;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
} */
div:hover ~ #cursor {
  transform: scale(0.5);
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  /* line 30, ../../01 cl html template/03_jun 2019/184_SAAS_template/sass/_feature_part.scss */
/* .profile-card-md{
 margin: auto;
} */
}
@media only screen and (min-width: 390px) and (max-width: 844px) {
  /* line 30, ../../01 cl html template/03_jun 2019/184_SAAS_template/sass/_feature_part.scss */
.profile-card-md{
  margin: auto 10px;
}
.bu{
  left: 140px;
}

}
@media only screen and (min-width: 360px) and (max-width: 740px) {
  /* line 30, ../../01 cl html template/03_jun 2019/184_SAAS_template/sass/_feature_part.scss */
.profile-card-md{
  margin: auto 10px;
}
.bu{
  left: 130px;
}
}
@media only screen and (min-width: 412px) and (max-width: 915px) {
  /* line 30, ../../01 cl html template/03_jun 2019/184_SAAS_template/sass/_feature_part.scss */
  .bu{
    left: 140px;
  }
.name{
 right: -7px;
}
}